#education {
    margin-top: 50px;
    padding: 50px 15px 20px 15px;
    border-bottom: 1px solid $border;
    text-align: center;
    color: #4db5ff

    h2 {
        color: #4db5ff;
        margin-bottom: 50px;
    }
}

.education-block {
    background-color:  var(--color-bg-variant);
    max-width: 700px;
    margin: 0 auto 30px auto;
    padding: 15px;
    border: 1px solid rgb(127, 127, 237);
    border-radius: 50px;
    text-align: center;

    

    h3 {
        font-weight: 500;
        float: left;
        margin: 0;
        color: $heading;
    }

    span {
        color: $text;
        float: right;
    }

    h4 {
        color: $text;
        clear: both;
        font-weight: 500;
        margin: 0 0 15px 0;
    }

    p, ul {
        margin: 0;
        color: $text;
        font-size: 0.9em;
    }

    ul {
        padding: 0 0 0 15px;
    }
}

.education-block:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}
.heading {
    color: #4db5ff;
}

@media screen and (max-width:600px){
   .education-block{
    margin: 10px 10px;
   }
    
}
